<div class="control-group">
  <label class="control-label" for="job_number">Job number</label>
  <input class="controls" id="job_number" name="job_number" ng-model="submission.job_number" type="text" value="" />
</div>

<div class="control-group">
  <label class="control-label" for="description">Description</label>
  <textarea class="controls" id="description" name="description" ng-model="submission.description">
</textarea>
</div>

<div class="control-group">
  <label class="control-label" for="occupation">Occupation</label>
  <input class="controls" id="occupation" name="occupation" ng-model="submission.occupation" type="text" value="" />
</div>

<div class="actions form-actions">
  <a class="btn" href="" ng-click="go('/step_one')">Back to Step One</a>
  <a class="btn" href="" ng-click="create(submission)">Submit</a>
</div>