<h1>Listing submissions</h1>

  <div ng-controller="SubmissionsCtrl">

    <div ng-repeat="submission in submissions">
      {{submission}}
    </div>

    <div class="form">
       
        <form novalidate class="form-horizontal">

          <div class="actions form-actions">
            <input class="btn btn-primary" name="commit" type="submit" value="Submit" ng-click="create(submission)">
            <a class="btn" href="/submissions">Back</a>
          </div>
 
      </form>
    </div> 

  </div>

<br>
