<h1>Listing submissions</h1>

  <div ng-controller="SubmissionsCtrl">
    <div ng-repeat"submission in submissions">
      {{submission}}
    </div>
  </div>

<br>

<%= link_to 'New Submission', new_submission_path %>
