<h1>Listing submissions</h1>

  <div ng-controller="SubmissionsCtrl">

    <div ng-repeat="submission in submissions">
      {{submission}}
    </div>

    <form novalidate class="form-horizontal">
      <div class="actions form-actions">
        <a class="btn" href="" ng-click="go('/step_one')">Step One</a>
        <a class="btn" href="" ng-click="go('/step_two')">Step Two</a>
      </div>
    </form>
  </div>

<br>
