<div class="container">
<h1>Submissions</h1>

  <div ng-controller="SubmissionsCtrl">
    <div class="ng-view"></div>

    <div class="actions form-actions">
      <a class="btn" href="" ng-click="go('/step_one')">Step One</a>
      <a class="btn" href="" ng-click="go('/step_two')">Step Two</a>
    </div>
  </div>

</div>
